* {
    font-family: 'Nunito', sans-serif;
    font-size: large;
}
a {
    text-decoration: none;
    color: black;
}
a#linka {
    color: #0dd3fc; 
}
#boltext {
    font-weight: bold;
    color: #0dd3fc;
}
ul {
    padding-left: 0;
    list-style-type: none;
}
div#1 {
    float:left;
}
div#2 {
    float:right;
}
.parent {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: x-large;
}
.buttons img:hover {
    filter: invert(61%) sepia(85%) saturate(1543%) hue-rotate(154deg) brightness(103%) contrast(104%);
}
.buttons {
    width:48; 
    height:48;
}

.imgs img{
    width: 48px;
    height: 48px;
}