:root { 
    --gutter: 30px;
    --cl: #0dd3fc;
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a#linka {
    color: var(--cl); 
}
#boltext {
    font-weight: bold;
    color: var(--cl);
}
ul {
    padding-left: 0;
    list-style-type: none;
}
h1 {
    font-size: x-large;
}
.buttons img:hover {
    filter: invert(61%) sepia(85%) saturate(1543%) hue-rotate(154deg) brightness(103%) contrast(104%);
}
.buttons {
    width:48; 
    height:48;
}

.imgs img{
    width: 48px;
    height: 48px;
}

.header {

}

.container {
    display: flex;
    flex-wrap: wrap;
    

    align-items: center;
    align-content: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* .row > div {
    padding: 15px;
    margin: 0 auto;
} */

.col-6 {
    width: calc(50% - var(--gutter));
}

.col-12 {
    width: (100% - var(--gutter));
}

@media screen and (max-width:992px) {
    .container {
        max-width: 100%;
    }
    .col-lg-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-lg-12 {
        width: (100% - var(--gutter));
    }
}

@media screen and (max-width:768px) {
    .col-md-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-md-12 {
        width: (100% - var(--gutter));
    }
}

@media screen and (max-width:576px) {
    .col-sm-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-sm-12 {
        width: (100% - var(--gutter));
    }
}